body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f4f4f4;
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
}

.intro {
    text-justify: auto;
    text-align: center;
    width: 60vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3em;
    position: fixed;
    padding: 0px 10px;
    transition: all 0.25s ease-in-out;
}

nav ul li {
    display: inline;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    font-weight: 300;
    color: gray;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none !important;
    transition: 0.5s;
}

/* label {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
} */

.item {
    width: 35vw;
    height: 45vh;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 30px;
    text-align: center;
    flex-basis: 100%;
}

.item p {
    margin-left: 16px;
    margin-right: 16px;
}

.item header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 2em;
    width: calc(100%);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: rgba(255, 255, 255, 0.75);
    position: relative;
    overflow: hidden;
}


.item header a {

    color: inherit;
    transition: transform 0.2s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.item header:hover a {
    transform: scale(1.1);
}

@media screen and (max-width: 1680px) {

    body,
    input,
    select,
    textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1280px) {

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }

    .navR {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 45%;
        height: 100vh;
        backdrop-filter: blur(6px);
        box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.05);
        background-color: white;
        top: 90px;
        right: -110%;
        border-radius: 10px;
        transition: all 0.5s;
    }

}

@media screen and (max-width: 800px) {

    main {
        flex-wrap: wrap;
    }

    .item {
        margin-top: 40px;
    }

}

@media screen and (max-width: 360px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}


.pics {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: serif;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 .2em 0;
    text-transform: uppercase;
    letter-spacing: 0.375rem;
}

/* #about a {
    font-size: 1em;
    color: black;
    margin: 1vh;
    text-decoration: none;

}
*/
main {
    display: flex;
    flex-direction: row;
}

#footer {
    text-align: center;
}


th,
td {
    border: 1px solid;
}

table {
    border: 1px solid;
    width: 80%;
    border-collapse: collapse;
}

caption {
    margin: 5%;
    font-size: 3rem;
}

dialog {
    position: relative;
    margin-top: 20px;

}

.button {
    font-size: 28px;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 5px solid black;
    transition-duration: 0.4s;
    border-radius: 6px;
}

.button:hover {
    color: #EF6480 !important;
    border-color: #EF6480;
}

a:link {
    text-decoration: none;
    color: inherit;
}


a:visited {
    text-decoration: none;
    color: inherit;
}


a:hover {
    text-decoration: none;
    color: inherit;
}


a:active {
    text-decoration: none;
    color: inherit;
}

.footer {
    text-align: center;
    position: relative;
}

ul#episodes {
    float: left;
    margin: 0 10px;
    padding: 0;
    width: 35%;
}

ul#episodes>li {
    list-style-type: none;
}

button.song {
    border-radius: 7px;
    border: 0;
    background: #191414;
    color: #fff;
    padding: 10px;
    margin: 0 0 3px 0;
    width: 100%;
    cursor: pointer;
}

button.song:hover {
    background: #1Db954;
}
